<%- include("./partials/header"); -%>



<main>
    <div>
        
        <section id="Grass">
            <div class="main2">
            <h1>Grass Type Pokemon</h1>
            </div>
            <div class="pokemon-cardb">
                <% pokemons.forEach(pokemon => { %>
                    <a href="/info/<%= pokemon.name %>">
                        <div class="pokemon-image"> 
                            <img src="<%= pokemon.image %>" alt="<%= pokemon.name %>">
                        </div>
                        <p><%= pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) %></p>
                    </a>
                <% }); %>
            </div>
        </section>
    </div>
</main>
